<footer>
        <img class="footer-logo" src="{{ site.baseurl }}/assets/images/github.png">
        <a href="{{ site.baseurl }}/index.html" {% if page.url == "/index.html" or page.url == "/" or page.url contains "tag" or page.layout == "post" %}class="current" {% endif %}>Home</a>
        <!-- <a href="{{ site.baseurl }}/ruby.html" {% if page.url contains "ruby" %}class="current" {% endif %}>Ruby</a> -->
        <a href="{{ site.baseurl }}/about.html" {% if page.url contains "about" %}class="current" {% endif %}>About</a>
        <!-- <a href="{{ site.baseurl }}/rails.html" {% if page.url contains "rails" %}class="current" {% endif %}>Links</a> -->
</footer>