<nav> 
  <a href="{{ site.baseurl }}/index.html" {% if page.url == "/index.html" or page.url == "/" or page.url contains "tag" or page.layout == "post" %}class="current" {% endif %}>Blog</a>
  <!-- <a href="{{ site.baseurl }}/index.html" {% if page.url == "/" %}class="current" {% endif %} id="home">Home</a> -->
  <a href="{{ site.baseurl }}/ruby.html" {% if page.url contains "ruby" %}class="current" {% endif %}>Ruby</a>
  <a href="{{ site.baseurl }}/links.html" {% if page.url contains "links" %}class="current" {% endif %}>Links</a>
  <a href="{{ site.baseurl }}/about.html" {% if page.url contains "about" %}class="current" {% endif %}>About</a>
</nav>