/*
===========================================================
MOBILE STYLES (See media queries below for desktop styles)
===========================================================
*/


:root {
    font-size: calc(0.75em + 1vw);
}


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html {
    box-sizing: border-box;
    position: relative;
}


body {
    background-color: #4B525A;
    color: #FFEFF4;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
}


.body-light {
    background-color: #fff;
    color: #000;
}


a {
    color: #FFFFBC;
    padding: 0 3px;
}


a:focus {
    background-color: #000;
    box-shadow: 0 0 0 3px #88b8ff;
    border-radius: 2px;
    text-decoration: none;
}


a:visited {
    color: #FEF5DE;
}


.a-light {
    color: #0000EE;
}


.a-light:focus {
    color: #fff;
    text-decoration: none;
}


.a-light:visited {
    color: #551A8B;
}


.a-light:visited:focus {
    color: #fff;
    text-decoration: none;
}


.a-light:visited:hover {
    color: #fff;
}


a:hover {
    background: #000;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}


aside {
    margin: 0;
    padding: 0;
}


.content-container {
    margin: 0 1rem 1rem 1rem;
    padding-top: 2rem;
    max-width: 680px;
}


.current:before {
    content: "\003e";
}


.edit {
    display: inline-block;
}


.edit-container {
    text-align: center;
}


h1 {
    font-size: 2.5rem;
}


.highlight {
    margin: 0;
    width: 100%;
}


.light-switch {
    background-image: url("/assets/images/light-off.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 6.25rem;
    width: 4.4rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}


.light-switch:focus {
    outline: 4px dotted #88b8ff;
    outline-offset: 2px;
}


nav {
    clear: both;
    margin-bottom: 2rem;
    position: relative;
    right: 5.75rem;
    text-align: right;
    top: 1.5rem;
}


nav a {
    display: inline-block;
    font-size: 1.15rem;
    margin-bottom: 0.25rem;
}


p {
    line-height: 1.5rem;
}


pre {
    border-radius: 8px;
    padding: 1rem;
    white-space: pre-wrap;
}


pre,
code {
    font-size: 0.9rem;
}


.scroll {
    display: inline-block;
    margin: 1rem 0 2rem;
}


.scroll-container {
    text-align: center;
}


.toc {
    border-radius: 8px;
    margin: 5rem 0 0 0.5rem;
}


.toc:before {
    content: "Table of contents";
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 3rem;
    margin-left: -1rem;
}


.toc-heading {
    border-radius: 8px;
    float: right;
    margin: 0.5rem 0 0 0.25rem;
    padding: 0.25rem 0.5rem 0 0.75rem;
    position: sticky;
    top: 1rem;
    right: 0rem;
}


ul {
    list-style: decimal;
}


.toc ul {
    counter-reset: item;
    margin-bottom: 0.5rem;
}


.toc ul li {
    list-style: none;
    list-style-position: inside;
    margin-bottom: 0.5rem;
}


.toc ul li:before {
    content: "("counter(item, lower-latin)")\200B\00a0";  
    counter-increment: item;
}


.toc ul ul li {
    list-style: none;
    list-style-position: inside;
}


.top-toc {
    margin-left: 2rem;
}


/*
NB:  The following is a workaround to add parentheses around list sub-items; eg, 1(a), 2(b), etc. 
The zero-width space ("\200B") addresses the following accessibility concern: https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#Accessibility_concerns
*/
.toc ul ul li:before        {
    content: "("counter(item, lower-roman)")\200B\00a0";  
    counter-increment: item;
}


/*
============================================================
MEDIA QUERIES (x3) FOR DESKTOP STYLES
============================================================
==================================================
Breakpoint 1 (Dispense with critical mobile styles)
==================================================
*/

@media (min-width: 540px) {
    

    .edit {
        float: left;
        font-size: 1rem;
        margin: 1rem 0 2rem 1rem;
    }


    .github {
        clear: both;
    }


    nav a {
        font-size: 1rem;
    }


    .scroll {
        float: right;
        font-size: 1rem;
        margin: 1rem 1rem 2rem 0;
    }

}


/*
=======================================
Breakpoint 2 (Table of contents appears)
=======================================
*/
@media (min-width: 1100px) {


    .content-container {
        margin: 0 1rem 1rem 2rem;
        padding-top: 2rem;
    }


    .edit {
        margin: 1rem 0 2rem 2rem;
    }


    .toc {
        background: linear-gradient(transparent, transparent);
        float: right;
        font-size: 0.8rem;
        margin: 8.5rem 1rem 0 0;
        padding: 0;
        position: -webkit-sticky;
        position: sticky;
        text-align: left;
        top: 1rem;
        width: 10rem;
        clear: both;
    }


    .toc:before {
        content: "Table of contents";
        font-size: 1rem;
        font-weight: bold;
        line-height: 2rem;
        margin-left: -1rem;
    }


    .toc ul {
        padding-left: 1.25rem;
    }
    
    
    .toc ul li {
        list-style-position: outside;
    }
   

    .toc ul ul {
        padding-left: 0.25rem;
    } 

}


/*
=================================================================
Breakpoint 3 (Left margin increases to retain site ratio, roughly)
=================================================================
*/
@media (min-width: 1400px) {


    .content-container {
        max-width: 870px;
    }

    
    .wrapper {
        margin-left: calc((100% - 1800px) / 2 + 232px);
    }

}