/*
===========================================================
MOBILE STYLES (See media queries below for desktop styles)
===========================================================
*/

:root {
    font-size: calc(0.85em + 1vw);
}


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html {
    box-sizing: border-box;
}


body {
    background-color: #4B525A;
    // background-color: #F6F6F6;
    color: #FFEFF4;
    font-family: "Vollkorn", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    margin: 0;
}


a {
    color: #FFFFBC;
}


a:focus {
    background-color: #000;
    box-shadow: 0 0 0 3px #88b8ff;
    border-radius: 2px;
    text-decoration: none;
}


a:visited {
    color: #FEF5DE;
}


a:hover {
    background: #000;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}

a,
p a,
h1 a,
h2 a,
h3 a,
h4 a,
a.edit,
a.scroll,
li a {
    padding: 0 4px;
}


.archive-dates {
    margin: 2rem 0 -0.5rem 0;
}


aside {
    margin: 4rem 0 0 0;
    padding: 0;
    text-align: center;
}


.blog-list {
    list-style: disc;
}


.blog-list-date {
    font-style: italic;
    margin-top: -1rem;
}


.content-container {
    margin: 0 1rem 1rem 1rem;
    padding-top: 3rem;
    max-width: 680px;
}


.current {
    border: 5px solid yellow;
    color: yellow;
}


.current:before {
    content: "\003e";
}


.edit {
    display: inline-block;
}


.edit-container {
    text-align: center;
}


h1,
h2,
h3,
h4 {
    font-style: italic;
    font-weight: 900;
}


h1 {
    font-size: 2rem;
}


.highlight {
    margin: 0;
    width: 100%;
}


.indent {
    text-indent: 2.5rem;
}


// .indent-content {
//     margin-left: 1rem;
// }


li {
    padding-top: 0.25rem;
}


.lighthouse {
    width: 100%;
    margin: 0;
    float: right;
    max-width: 500px;
    display: block;
}


nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2rem 1rem 1rem 1rem;
}


nav a {
    margin: 0 0.25rem 0 0.25rem;
    padding: 0 4px;
    text-decoration: none;
}


p {
    line-height: 1.65rem;
}


.post-date {
    font-style: italic;
    margin: -1.5rem 0 2rem 0;
}


.post-tags {
    margin: 3rem 0 3rem 0;
}


pre {
    border-radius: 8px;
    padding: 1rem;
    white-space: pre-wrap;
}


pre,
code {
    font-size: 0.9rem;
}


.quote {
    margin-top: 5rem;
    text-align: center;
}


.quote span {
    font-style: italic;
}


.scroll {
    display: inline-block;
    margin: 1rem 0 2rem;
}


.scroll-container {
    text-align: center;
}


.tag-list {
    list-style: disc;
}


.toc {
    display: inline-block;
    text-align: left;
}


.toc:before {
    content: "Table of contents";
    font-size: 1.75rem;
    font-weight: 900;
    font-style: italic;
    line-height: 3rem;
    margin-left: -1.5rem;
}


#toc-scroll {
    display: none;
}


.toc ul {
    counter-reset: item;
    margin-bottom: 0.5rem;
}


.toc ul li {
    list-style: none;
    list-style-position: inside;
    margin-bottom: 0.5rem;
}


.toc ul li:before {
    content: "("counter(item, lower-latin)")\200B\00a0";  
    counter-increment: item;
}


.toc ul ul li {
    list-style: none;
    list-style-position: inside;
}


.top-toc {
    margin-left: 2rem;
}


/*
NB:  The following is a workaround to add parentheses around list sub-items; eg, 1(a), 2(b), etc. 
The zero-width space ("\200B") addresses the following accessibility concern: https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#Accessibility_concerns
*/
.toc ul ul li:before        {
    content: "("counter(item, lower-roman)")\200B\00a0";  
    counter-increment: item;
}


ul {
    list-style: decimal;
}


/*
============================================================
MEDIA QUERIES (x3) FOR DESKTOP STYLES
============================================================
==================================================
Breakpoint 1 (Dispense with critical mobile styles)
==================================================
*/

@media (min-width: 540px) {
    
    :root {
        font-size: calc(0.8em + 1vw);
    }
    

    aside {
        margin: 1rem 0.25rem -4rem 0;
    }


    .content-container {
        margin: 0 1rem 1rem 2rem;
        margin: 0 auto;
        padding: 8rem 1rem 0 1rem;
    }


    .edit {
        float: left;
        font-size: 1rem;
        margin: 1rem 0 2rem 0;
    }


    .github {
        clear: both;
    }


    nav {
        margin: 1rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }


    nav a {
        font-size: 1rem;
        margin: 0 0.5rem 0 0.5rem;
    }


    .scroll {
        float: right;
        font-size: 1rem;
        margin: 1rem 2rem 2rem 0;
    }


    .toc {
        margin: 7rem 0 -3rem 1.5rem;
    }


}


/*
=======================================
Breakpoint 2 (Table of contents appears)
=======================================
*/
@media (min-width: 1100px) {


    .content-container {
        margin: 0 auto;
        padding-top: 8rem;
    }


    .toc-content {
        margin: 0 1rem 1rem 2rem;
    }


    .edit {
        margin: 1rem 0 2rem 0;
    }


    .edit-toc {
        margin: 2rem 0 2rem 0;
    }


    aside {
        float: right;
        position: -webkit-sticky;
        position: sticky;
        top: 1rem;
        // margin-top: 15rem;
        margin-top: 13rem;
        clear: right;
    }


    .toc {
        background: linear-gradient(transparent, transparent);
        float: right;
        font-size: 0.8rem;
        font-size: 0.85rem;
        margin: 0 0.5rem 0 0;
        padding: 0;
        text-align: left;
        width: 10rem;
        clear: both;
    }


    .toc:before {
        content: "Table of contents";
        font-size: 1rem;
        font-weight: 900;
        font-style: italic;
        line-height: 2rem;
        margin-left: -1rem;
    }


    #toc-scroll {
        color: #fff;
        display: block;
        font-size: 0.9rem;
        position: absolute;
        bottom: -2rem;
        color: #fff;
        font-style: italic;
        font-weight: 900;
    }


    .toc ul {
        padding-left: 1.25rem;
    }
    
    
    .toc ul li {
        list-style-position: outside;
    }
   

    .toc ul ul {
        padding-left: 0.25rem;
    } 

}


/*
=================================================================
Breakpoint 3
=================================================================
*/
@media (min-width: 1400px) {


    .content-container {
        max-width: 900px;
    }


    .toc-content {
        margin-left: calc((100% - 1800px) / 2 + 232px);
    }

    // .wrapper {
    //     margin-left: calc((100% - 1800px) / 2 + 232px);
    // }

}