<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Personal website of Denis McDonald">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
    <meta name="msapplication-TileColor" content="#4b525a">
    <meta name="theme-color" content="#ffffff">
    <!-- End favicons -->
    
    {% if site.tags != "" %}
    {% include tags.html %}
    {% endif %}
    
  </head>
  <body>
    <div class="wrapper">       
      
      {% include navigation.html %}

      <img alt="Drawing of a handshake" class="logo" src="{{ site.baseurl }}/assets/images/writer6.jpg">
      
      {%- if page.toc == true -%}
      <aside>
        {% include toc.html html=content class="toc" %}
      </aside>
      
      <div class="content-container toc-content">
        {{ content }}
        
        {%- if page.edit == true -%}
        <div class="edit-toc">
          {% include edit.html %}
        </div>
        {%- endif -%}
        
      </div> 
      
      {%- else -%}
      <div class="content-container">
        {{ content }}
        
        {%- if page.edit == true -%}
        {% include edit.html %}
        {%- endif -%}
      </div> 
      {%- endif -%}
      
      {%- if page.scroll == true -%}
      {% include scroll.html %}
      {%- endif -%}

    </div>
    
    {%- if page.footer -%}
    {% include footer.html %}
    {%- endif -%}

  </body>
  </html>